@font-face {
  font-family: 'norwesterregular';
  src: url('fonts/norwester.regular-webfont.eot');
  src: url('fonts/norwester.regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/norwester.regular-webfont.woff') format('woff'),
       url('fonts/norwester.regular-webfont.ttf') format('truetype'),
       url('fonts/norwester.regular-webfont.svg#norwesterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Trocchi');

a{
  text-decoration: none !important;
  color: black !important;
}

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'norwesterregular',sans-serif;
  user-select: none;
}

.tile {
  overflow-y: auto !important;
  display: block;
  width: 80% !important;
  height: 85% !important;
  max-width: 80% !important;
  max-height: 87% !important;
  margin-bottom: 2.5%;
  padding: 5% 10% 0 10% !important;
}

.home{
  background:  #fcffbc !important;
}
.home img{
  width: 25%;
}

.tile *{
  position: relative;
  text-align: center !important;
}

.tile h1{
  font-size: 80px;
  font-weight: lighter;
  line-height: 90px;
  margin: 5% 0 0 0;
}

.tile h3{
  font-family: 'Trocchi', serif;
  font-weight: lighter;
}

.tile h3 span{
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom: 2px black double;
  transition: all linear 0.1s;
}

.tile h3 span:hover{
  padding-bottom: 1px;
}

.about {
  background: #bcffb1;
}

.about h3{
  padding: 0 20% 0 20%;
  font-size: 24px;
}

.social {
  background: #c5e6db;
  height: 12% !important;
  max-height: 12% !important;
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-left: 5%;
}

.social-links *{
  margin: 0 20px 0 0px !important;
  font-size: 22px;
}

.social-links img{
  height: 32px;
  width: auto;
  cursor: pointer;
}

.pondering{
  padding-top: 2% !important;
  height: 40% !important;
}

.pondering h1{
  font-size: 90px !important;
}

.pondering h1 span{
  padding-bottom: 4px;
  border-bottom: 2px solid black;
}

.pondering-content{
  display: flex;
  flex-direction: row;
  height: 90% !important;
  overflow-x: scroll !important;
}

.pondering-content .item{
  cursor: pointer;
  border-right: 0.5px dashed black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all linear 0.2s;
  padding: 2% 1% 0% 1%;
  min-width: 33% !important;
}

.pondering-content .item:hover{
  background: rgba(250,250,250,0.5);
}

.pondering-content .item h3{
  width: 100% !important;
  text-align: center;
}

.circ-image{
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circ-image img{
  width: 100% !important;
}

.fullitem-title {
  height: 20% !important;
}
.fullitem-title h1{
  margin: 0 !important;
  letter-spacing: 16px;
}
.fullitem-content{
  padding-top: 2% !important;
  height: 80%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto !important;
}
.fullitem-content img{
  height: 300px;
  width: auto !important;
}
.fullitem-content p{
  font-size: 20px !important;
  font-family: 'Trocchi', sans-serif;
}

.top-banner {
  z-index: 100 !important; 
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.top-banner h3{
  text-align: right;
  padding-right: 3%;
  cursor: pointer;
  font-weight: lighter;
  letter-spacing: 4px;
}
.top-banner h3 span{
  padding-bottom: 4px;
  margin-right: 2%;
  border-bottom: 0.5px solid black;
  transition: all linear 0.2s;
}
.top-banner h3 span:hover{
  padding-bottom: 1px;
  border-bottom: 2px solid black;
}
.top-banner input{
  position: fixed;
  top:-10%;
}
.errpage {
  height: fit-content !important;
  padding-bottom: 15% !important;
}

.admin {
  height: fit-content !important;
  padding-bottom: 10% !important;
}
.password{
  height: fit-content !important;
  max-width: 80% !important;
  overflow-x: hidden !important;
  max-height: none !important;
}
.password h3{
  font-family: 'norwesterregular', sans-serif;
  font-weight: 100 !important;
  font-size: 12px !important;
  letter-spacing: 4px !important;
  margin-bottom: 9% !important;
}
.password input,textarea{
  margin-bottom: 2px !important;
  background: none !important;
  border: none;
  border-bottom: 0.5px solid black;
  outline: none !important;
  padding-bottom: 4px !important;
  font-family: 'trocchi', sans-serif;
  font-weight: 100 !important;
  letter-spacing: 2px !important;
}
.portal h3{
  margin: 0 !important;
  font-size: 15px !important;
}
.types {
  margin-top: 2px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}
.types h3{
  font-size: 12px !important;
  padding: 5% !important;
  max-width: 20% !important;
}
.entry{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  padding-bottom: 5% !important;
}
.entry input,textarea{
  display: block !important;
  width: 50% !important;
  max-width: 50% !important;
  margin-bottom: 10px !important;
  text-align: left !important;
}
.entry p{
  margin: 0 !important;
  text-align: right !important;
  width: 50% !important;
  font-size: 11px !important;
}
.entry h3 {
  margin-bottom: 5% !important;
}
.entry h3 span{
  margin-right: 25px !important; 
}
#shortdesc{
  overflow: auto !important;
  text-align: left !important;
}
#content{
  text-align: left !important;
  overflow: auto !important;
}
#imageheading{
  margin: 0 !important;
  text-align: left !important;
  width: 50% !important;
  font-family: 'trocchi', sans-serif;
  font-weight: 100 !important;
  letter-spacing: 2px !important;
  color: rgba(100,100,100,0.9) !important;
}
#image{
  margin-bottom: 15px !important;
}
.entry progress{
  width: 50% !important;
  margin-bottom: 4px !important;
  background: none !important;
  border: none !important;
}
.entry h1{
  font-size: 15px !important;
  font-weight: lighter !important;
  letter-spacing: 2px !important;
  margin: 0 !important;
  height: fit-content !important;
  transition: all linear 0.3s !important;
}
@media (max-width:1024px) {
  .home img{
    width: 40% !important;
  }
  .pondering h1{
    margin-top: 10% !important;
  }
}
@media (max-width:425px) {
  .home{
    height: 70% !important;
  }
  .about h3 {
    font-size: 18px !important;
  }
  .social {
    height: 9% !important;
    max-height: 9% !important;
  }
  .pondering{
    height: 35% !important;
  }
  .pondering h1{
    font-size: 60px !important;
  }
  .pondering-content .item p{
    text-align: left !important;
    font-family: sans-serif !important;
    font-weight: lighter !important;
    white-space: normal !important;
    text-overflow: ellipsis !important;
    position: relative;
    max-height: 50% !important;
  }
  div.circ-image{
    width: 100px !important;
    height: 100px !important;
    background: none !important;
  }
  .fullitem-title {
    padding-top: 20% !important;
    height: 30% !important;
  }
  .fullitem-title h1{
    font-size: 40px !important;
    line-height: 41px !important;
  }
  .fullitem-title h3{
    font-size: 14px !important;
  }
  .fullitem-content img {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
  }
  .fullitem-content{
    height: fit-content !important;
    max-height: none !important;
  }
  .admin{
    height: fit-content !important;
  }
  .portal h3{
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .types h3{
    flex: 1;
    font-size: 12px !important;
    max-width: none !important;
  }
  .entry input{
    width: 80% !important;
    max-width: none !important;
    padding: 0 !important;
  }
  .entry textarea{
    width: 80% !important;
    max-width: none !important;
    padding: 0 !important;
  }
  .entry p{
    width: 80% !important;
  }
  #imageheading{
    width: 80% !important;
  }
  .entry progress{
    width: 80% !important;
  }
}
::-webkit-scrollbar {
  transform: scale3d(0.4, 0.5);
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(50, 50, 50, 0.5);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: white;
}
::-webkit-scrollbar-track {
  background: rgba(100,100,100,0.1);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(200, 200, 200, 0.5);
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}